.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(231, 231, 231, 0.5), rgba(255, 4, 40, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(220, 4, 4, 0.5), rgba(0, 159, 229, 0.5))
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #d7d7d7;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(239, 239, 239), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(143, 211, 244, 1))
}